@import url(https://fonts.googleapis.com/css?family=Fredoka);

.task-container{

}

label{
  font-family: 'Fredoka';
  font-size: 20px;
  margin: 5px;
}

input.subject-input {
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:20px;
  width: 100%;
  font-family: 'Fredoka';
  font-size: 18px;
}

textarea.description-input{
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:100px;
  overflow-wrap: break-word;
  font-family: 'Fredoka';
  font-size: 18px;
}

.Calendar{
    background-color: #C9B09A;
    text-align: center;
    color: white;
    font-family: 'Fredoka';
}

.content-text{
    font-size: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka';
  }

.title-text{
    font-weight: 'bold';
    font-style: 'italic';
    font-size: 60px;
    color: white;
    font-family: 'Fredoka';
  }

.button, .addTask {
    background-color:bisque;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Fredoka';
}

.button-div {
    width: 50%;
    margin-top: 10px;
    margin-left: 4vw;
    text-align: center;
    background-color: bisque;
}


.CalendarButton{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 100px;
  font-family: 'Fredoka';
}
.TaskButton{
  background-color: bisque;
  position: absolute;
  right: 200px;
  top:30px;
  font-family: 'Fredoka';
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Fredoka';
}

.header {
  min-height: 15vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka';
}

.h3{
  font-weight: bold;
  font-size: 30px;
}