@import url(https://fonts.googleapis.com/css?family=Fredoka);
@media screen and (max-width: 1200px) {
  .Error-logo {display:none;}
}

.task{
  background-color: rgb(224, 197, 163);
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0;
}

p, label{
  font-family: 'Fredoka';
  font-size: 20px;
  margin: 5px;
}

.small-label{
  font-family: 'Fredoka';
  font-size: 15px;
  color:black
}

.redirect{
  font-family: 'Fredoka';
  font-size: 15px;
  margin-left: 120px;
  color:black
}

input.subject-input {
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:20px;
  width: 100%;
  font-family: 'Fredoka';
  font-size: 18px;
}

textarea.description-input{
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:100px;
  overflow-wrap: break-word;
  font-family: 'Fredoka';
  font-size: 18px;
}

.Calendar, .task-header{
    background-color: #C9B09A;
    text-align: center;
    color: white;
    font-family: 'Fredoka';
}

.content-text{
    font-size: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka';
  }

.title-text{
    font-weight: 900;
    font-style: 'italic';
    font-size: 60px;
    color: white;
    font-family: 'Fredoka';
  }

.button, .addTask {
    background-color:bisque;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Fredoka';
}

.button-div {
    width: 50%;
    margin-top: 10px;
    margin-left: 30%;
    text-align: center;
    background-color: bisque;
}

.button-task {
  width: 50%;
  margin-top: 15px;
  margin-left: 4vw;
  text-align: center;
}

.taskButton {
    color: bisque;
}


.CalendarButton{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 193px;
  font-family: 'Fredoka';
}
.LogoutButton{
  background-color: #b09171;
  position: absolute;
  top: 30px;
  right: 100px;
  font-family: 'Fredoka';
}

.TaskButton{
  background-color: bisque;
  position: absolute;
  right:300px;
  top:30px;
  font-family: 'Fredoka';
}
.TaskButton2{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 100px;
  font-family: 'Fredoka';
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Fredoka';
}

.small-header {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka';
}

h2 {
  font-family: 'Fredoka';
  color:white;
}
.wide-header {
  width:95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka';
}

h3{
  font-weight: bold;
  font-size: 30px;
}

.todobuttons{
  background-color: bisque;
  width:213px;
}

.tasktocalendar {
  background-color: bisque;
  width:146px;
}

.toAdd{
  background-color: bisque;
  width:217px;
  justify-content: center;
}