@import url(https://fonts.googleapis.com/css?family=Fredoka);


label{
  font-family: 'Fredoka';
}

input[type="checkbox"]{
  height: 15px;
  width: 15px;
  background-color: white;
}

input.task-input {
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:20px;
  width: 300px;
  font-family: 'Fredoka';
}

textarea.description-input{
  width:50%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  overflow-wrap: break-word;
  font-family: 'Fredoka';
}

input.datetime-input{
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:20px;
  width: 300px;
  font-family: 'Fredoka';
}

.Calendar{
    background-color: #C9B09A;
    text-align: center;
    color: white;
    font-family: 'Fredoka';
}

.content-text{
    font-size: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka';
  }

.title-text{
    font-weight: 'bold';
    font-style: 'italic';
    font-size: 60px;
    color: white;
    font-family: 'Fredoka';
  }

.button, .addTask {
    background-color:bisque;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Fredoka';
}

.button-div {
    margin: 10px 10px;
}


.CalendarButton{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 100px;
  font-family: 'Fredoka';
}
.TaskButton{
  background-color: bisque;
  position: absolute;
  right: 200px;
  top:30px;
  font-family: 'Fredoka';
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Fredoka';
}

.header {
  background-color: #c8a287;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Fredoka';
}
