
  .Login {
    box-sizing: border-box;
    background-color:#c8a287;
    padding: 500px;

}
*, *:before, *:after {
  box-sizing: inherit;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    background-color: lightgrey;
    border: 0;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  form {
    font-family:'Fraunces';
    background-color: bisque;
    padding: 1rem;
    top: 100%;
   
  }
  
  .myButton {
      background-color:white;
      display:inline;
      color: black;
      border: 0;
      font-size:15px;
      padding:10px 20px;
  }