.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c8a287;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.title-text{
  font-family: 'Fraunces', cursive;
  font-weight: 'bold';
  font-style: 'italic';
  font-size: 60px;
  color: white;
  font-style: 'italic';
  animation: waviy 1s infinite;
}
.content-text{
  font-family:'Fraunces';
  font-size: 20px;
  color: white;
}
.Log-In{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 100px;
  font-family:'Fraunces';

}
.Sign-In{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 200px;
  font-family:'Fraunces';
}
.Boards{
  background-color: bisque;
  position: absolute;
  font-family:'Fraunces';
  bottom: 50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
