@import url(https://fonts.googleapis.com/css?family=Fredoka);
@media screen and (max-width: 1200px) {
  .App-logo {display:none;}
}
.App{
  height:100%;
  padding:30px;
  display: flex;
  background-color: #E8D4C7;
  justify-content: space-evenly;
}

.section{
  background-color: white;
}

.App-logo{
  float: right;
  width:60vw;
}
.App-header {
  width: 95vw;
  flex-direction: column;
  justify-content: center;
}
.home-title-text{
  font-family: 'Fredoka';
  font-weight: 900;
  font-size: 60px;
  color: white;
  
}
.home-subtitle-text{
  font-family: 'Fredoka';
  padding-left: 30px;
  padding-top:50px;
  font-size:40px;
  font-size-adjust: 0.5;
  color: #60412b;
  align-items: center;
  justify-content: center;
}

.home-content-text{
  font-family: 'Fredoka';
  padding-left: 70px;
  font-size:27px;
  font-size-adjust: 0.5;
  color: #b09171;
  align-items: center;
  justify-content: center;
}

.input {
  resize: vertical;
  float: left;
  margin-left:80px;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:20px;
  width: 300px;
  font-family: 'Fredoka';
}

.login-button{
  float: right;
  background-color: bisque;
  padding: 5px;
  margin: 3px;
  font-family: 'Fredoka';
}
.create-account-button{
  float:right;
  background-color: #b09171;
  padding: 5px;
  margin: 3px;
  font-family: 'Fredoka';
}
.create-account-button2{
  float:left;
  border-radius:15px;
  background-color: #b09171;
  padding: 5px;
  margin: 3px;
  font-family: 'Fredoka';
}

.Tasks{
  background-color: bisque;
  font-family: 'Fredoka';;
  margin-top:5px;
}

.Boards{
  background-color: bisque;
  font-family: 'Fredoka';;
}

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #60412b, #b09171, #d7b9aa, #eae6de);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

a {
  color: #FFFFFF;
  text-decoration: none;
}