.App {
  text-align: center;
  background-color: #DBD0BD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-logo {
  animation:  linear;
}

.login-header {
  background-color: #c8a287;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  background-color: #c8a287;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.title-text{
  font-family: 'Fraunces', cursive;
  font-weight: 'bold';
  font-style: 'italic';
  font-size: 60px;
  color: white;
  animation: infinite;
}
.content-text{
  font-family:'Fraunces';
  font-size: 20px;
  color: white;
  align-items: center;
  justify-content: center;
}
.Log-In{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 100px;
  font-family:'Fraunces';

}
.Sign-In{
  background-color: bisque;
  position: absolute;
  top: 30px;
  right: 200px;
  font-family:'Fraunces';
}
.Boards{
  background-color: bisque;
  position: absolute;
  font-family:'Fraunces';
  bottom: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}